{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{deps,  [
        {epgsql,                       ".*", {git, "git@github.com:miranetworks/epgsql.git",                 {branch, "master"}}}
        ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.

{plugins, [rebar_covertool]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/cover.coverdata", ".eunit/eunit.coverage.xml"}}. % Output report file name 

{edoc_opts, [{private, false}, {todo, true}, {packages, false}, {new, true}]}.

